# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio local folder
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bin/
obj/

# VS Code / Rider
.vscode/
.idea/

# NuGet
*.nupkg
packages/
!packages/build/
*.snupkg

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

docs/